body {
  background-color: black;
  background-size: cover;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.title {
  border: 5px solid orange;
  border-radius: 10px;
  width: 300px;
  margin: 30px auto auto auto;
  font-size: 50px;
  color: orange;
  text-align: center;
}

.outer-box {
  border: 5px solid orange;
  height: true;
  width: 1000px;
  margin: 30px auto auto auto;
  border-radius: 10px;
  background-color: white;
}

.spacer {
  margin-bottom: 20px;
}

#class-name {
  margin-left: 13px;
  font-size: 25px;
  margin: 10px auto 10px 10px;
  color: orange;
  font-weight: bold;
}

.course {
  border: 1px solid orange;
  border-radius: 4px;
  height: 35px;
  width: 400px;
  font-size: 20px;
  padding-left: 5px;
  margin-left: 10px;
  margin-right: 30px;
}

.units {
  border: 1px solid orange;
  border-radius: 4px;
  height: 35px;
  width: 100px;
  font-size: 20px;
  padding-left: 5px;
  margin-right: 30px;
}

.grade-select {
  border: 1px solid orange;
  border-radius: 4px;
  height: 35px;
  width: 100px;
  font-size: 20px;
}

.block {
  margin-bottom: 10px;
}

.addSubject {
  border: 2px solid orange;
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
  width: 300px;
  text-align: center;
  color: white;
  background-color: green;
}

.removeSubject {
  border: 2px solid orange;
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
  width: 100px;
  text-align: center;
  color: white;
  background-color: green;
}

.result {
  border: 2px solid orange;
  border-radius: 4px;
  width: 200px;
  text-align: center;
  margin: 20px auto 20px auto;
}

#gpa {
  font-size: 50px;
  color: orange;
  font-weight: bold;
}